.grid {
  display: grid;
  grid-template-rows: 
    repeat(10, 10px);
  grid-template-columns: 
    repeat(7, 1fr);
  grid-gap: 2px;
}

.item:nth-child(1) {
  grid-row: 4/ 8;
}

.item:nth-child(2) {
  grid-column: 2/ 3;
  grid-row: 3/ 7;
}

.item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 7 / 11;
}

.item:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 1/ 8;
}

.item:nth-child(5) {
  grid-column: 3 /3;
  grid-row: 8/ 11;
}
.item:nth-child(6) {
  grid-column: 5 / 6;
  grid-row: 3/ 7;
}
.item:nth-child(7) {
  grid-column: 5 / 6;
  grid-row: 7 / 11;
}
.item:nth-child(8) {
  grid-column: 6 / 7;
  grid-row: 2/ 6;
}
.item:nth-child(9) {
  grid-column: 6 / 7;
  grid-row: 6 / 10;
}
.item:nth-child(10) {
  grid-column: 7 /8;
  grid-row: 4 / 8;
}

/* styling code */

.grid {
  margin:20px auto;
  max-width:320px;
}

.grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 1px solid red;
}